{% extends 'homepage/home.html.twig' %}

{% block content %}
    <div class="row justify-content-center">
        <div class="col-6 bg-dark text-white">
                <div class="mb-5">
                <h1 class="h3 mb-2 font-weight-normal">Leaderboard by wins</h1>
                {% for a in profilearray %}
                        <div class="mt-5 userbox">
                            <label class="mt-2" for="username">Nick:</label>
                            <h4 class="mt-2" for="username">{{a.nick}}</h3>
                            
                            <label class="mt-2" for="number">Wins:</label>
                            <h4 class="mt-2" for="number">{{a.wins}}</h3>
                        </div>
                {% endfor %}
            </div>
        </div>
    </div>       
{% endblock %}
